<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODOs - Lista de tarefas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <nav class="navbar bg-dark border-bottom border-body mb-2" data-bs-theme="dark">
          <div class="container">
              <a class="navbar-brand" href="#">TODOs - Lista de Tarefas</a>
          </div>
      </nav>
    </header>

    <main class="container">
        <h1 class="mb-2">Lista de Tarefas</h1>

        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
                <th scope="col">Criado em</th>
                <th scope="col">Data de entrega</th>
                <th scope="col">Finalizado em</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr scope="row" th:each="todo : ${todos} ">
                <th th:text="${todo.id}">sada</th>
                <td th:text="${todo.title}"></td>
                <td th:text="${todo.description}">
                <td th:text="${todo.createdAt}"></td>
                <td th:text="${todo.deadline}"></td>
                <td th:text="${todo.fineshedAt}"></td>
                <td>
                  <a class="btn btn-sm btn-primary" href="">Concluir</a>
                  <a class="btn btn-sm btn-secondary" href="">Editar</a>
                  <a class="btn btn-sm btn-danger" href="">Excluir</a>
                </td>
            </tr>





            </tbody>
        </table>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>

